version: "3.9"

services:
  web:
    build: .
    container_name: zoology-web
    command: entrypoint.sh
    ports:
      - "8010:8000"
    env_file:
      - .env
    depends_on:
      - db


  db:
    image: postgres:15
    container_name: zoology-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"