
{% extends 'myapp/base.html' %}

    {% block body %}


<ul  class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    {% for curiosity in page_obj %}


    <li class="pr-10 pl-10 pt-5">
        <a href="{% url 'myapp:details' curiosity.id %}">
            <div class="m-10 lg:p-0 flex mx-auto hover:bg-lime-200 rounded-2xl text-sm text-neutral-700 shadow-2xl/100" >
            <div>
                  <img class="w-64 h-64 object-cover max-w-none shrink-0 rounded-l-2xl" src="{{curiosity.picture}}">
            </div>
            <div class="m-10">
                <div class="font-extrabold p-3">
                {{ curiosity.topic }}
                </div>
                <div class="font-medium p-3 text-neutral-500">
                {{ curiosity.content|truncatechars_html:150}}
                </div>
            </div>
    </div>
        </a>

    </li>
    {% endfor %}
</ul>

<div class="flex justify-center font-semibold m-3">
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}" class="mr-3 bg-lime-900 text-lime-50 pr-2 pb-1 pt-1 pl-2 rounded-full hover:bg-lime-700/70" > < </a>
    {% endif %}
    <span class="p-1">Strona {{page_obj.number}} z {{page_obj.paginator.num_pages}}</span>
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}" class="ml-3 bg-lime-900 text-lime-50 pr-2 pl-2 pb-1 pt-1 pl-2 rounded-full hover:bg-lime-700/70"> > </a>
        {% endif %}
</div>
    {% endblock %}
